@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colorPrimary: #6F51A1;
  --colorSuccess: #52C41A;
  --colorWarning: #FAAD14;
  --colorError: #FF4D4F;
  --colorLink: #1668DC;

  --bg-header: #F3F3F3;
  --bg-dark: #F8F6F6;
  --base-table-header: #F5F5F5;
  --base-500: #DFDFDF;
  --base-600: #f2f2f2;
  --base-700: #f1f1f1;
  --base-800: #f0f0f0;
  --base-900: #efefef;
  --txt-100: #080808;
  --txt-200: #363636;
  --text-300: #989898;
  --text-400: #9E9E9E;
  --text-500: #A4A4A4;
  --border-100: #CCD7E9;
  --base-primary: #00b96b;
  --hover-primary: #DFFBEC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-track {
  background: #0000;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

ul.ant-menu {
  border-inline-end: 0px !important;
}

.long-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-form-item-label {
  padding: 0 !important;
}

.ant-menu-item-selected {
  background-color: var(--colorPrimary) !important;
  color: #ECE8F2 !important;
}