@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colorPrimary: #1677FF;
  --colorSuccess: #52C41A;
  --colorWarning: #FAAD14;
  --colorError: #FF4D4F;
  --colorLink: #1668DC;

  --bg-dark: #CCD7E9;
  --bg-light: #f0f0f0;
  --bg-light-dark: #E5EAEE;
  --base-200: #E8EEF6;
  --base-500: #f3f3f3;
  --base-600: #f2f2f2;
  --base-700: #f1f1f1;
  --base-800: #f0f0f0;
  --base-900: #efefef;
  --txt-100: #5b5c5f;
  --text-200: #5c5c5c;
  --text-300: #a7a7a7;
  --border-100: #CCD7E9;
  --base-primary: #00b96b;
  --hover-primary: #DFFBEC;
}

.dark {
  --bg-dark: #111621;
  --bg-light: #1F2634;
  --bg-light-dark: #2a3142;
  --base-200: #1d1d1d;
  --base-500: #464646;
  --base-600: #565656;
  --base-700: #666666;
  --base-800: #767676;
  --txt-100: #8E9DB2;
  --text-200: #b4b4b4;
  --text-300: #7a7a7a;
  --border-100: #313D50;
  --base-primary: #dde000;
  --hover-primary: #242813;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-track {
  background: #0000;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  color: var(--txt-100);
  background-color: var(--bg-dark);
}

ul.ant-menu {
  border-inline-end: 0px !important;
}

.long-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-form-item-label {
  padding: 0 !important;
}