:root {
  --toastify-color-light: #ffffff8e;
  --toastify-color-dark: #1414148e;
  --toastify-color-info: #1677ff8e;
  --toastify-color-success: #53c41a8e;
  --toastify-color-warning: #faad148e;
  --toastify-color-error: #ff4d508e;
}