.dark #specialTable {
  scrollbar-color: rgba(175, 182, 193, 0.25) rgba(161, 191, 250, 0.17);
}

#specialTable {
  scrollbar-color: rgba(91, 92, 95, 0.25) rgba(5, 5, 5, 0.06);
}

#specialTable table {
  width: max-content;
  min-width: 100%;
  table-layout: auto;
}

#specialTable table * {
  border: 1px var(--border-100) solid;
  padding: 15px 5px;
}

.dark #specialTable th {
  background-color: #272B37;
}

#specialTable th {
  background-color: #FCFCFC;
}

.dark #specialTable td {
  background-color: #212531;
}

#specialTable td {
  background-color: #FFFFFF;
}